h2{
    color: navy;
}

.item{
    border: 1px solid gray;
    margin-bottom: 15px;
    margin-right: 10px;
    width: 220px;
    display: inline-block;
    vertical-align: top;
    border-radius: 4px;
    padding: 5px;
    height: 350px;
}
.info{
    text-align: left;
}
.catalog{
    color: rgb(58, 53, 53);
    font-family: 'Dumbledor';
    font-size: larger;
}

.item img{
    max-width: 20%;
}

.item img{
    height: 230px;
}
.code {
    display: block;
    color: black;
    font-size: 14px;
    margin-bottom: 0;
}
.title{
font-weight: bold;
font-size: 16px;
}
button{
    float: right;
}

.price{
    font-size:18px ;
    font-weight: bolder;
    color: red;
}
.container{
    margin-left: 200px;
    margin-right: 200px;
}

#categories{
    margin-right: 100px;
    margin-left: 690px;
}